# **Final Project**
<b> Course: </b> AI4PH, 2024 <br>
<b> Date: </b> 2024-02 <br>
<br>

<h5> <b> Basic Features of Data Analysis Project:</b></h5>
<b> Dataset: </b> Confirmed positive cases of COVID-19 in Ontario, February 15, 2024

Data source: https://data.ontario.ca/dataset/breakdown-of-covid-19-positive-hospital-admissions/resource/d1199d1b-dc82-4e63-bb80-5c715e97a127

As of June 16, all COVID-19 datasets will be updated weekly on Thursdays by 2pm.

This dataset details the percentage of COVID-19 positive patients in hospitals and ICUs for COVID-19 related reasons, and for reasons other than COVID-19.

Data include*s:

reporting* date
percentage of COVID-19 positive patients in hospital admitted for CO*VID-19
percentage of COVID-19 positive patients in hospital admitted for other *reasons
percentage of COVID-19 positive patients in ICU admitted for *COVID-19
percentage of COVID-19 positive patients in ICU admitted for other reasons

In [1]:
#Load Packages

import pandas as pd
import numpy as np

In [11]:
filename = 'hospitalizations2.csv'
df = pd.read_csv(filename)

In [12]:
df.head(5)

,_id,date,hosp_for_covid,hosp_other_conditions,icu_for_covid,icu_other_conditions
0,1,2022-01-08T00:00:00,0.5302,0.4698,0.7955,0.2045
1,2,2022-01-09T00:00:00,0.5395,0.4605,0.8279,0.1721
2,3,2022-01-10T00:00:00,0.5468,0.4532,0.8307,0.1693
3,4,2022-01-11T00:00:00,0.5450,0.4550,0.8198,0.1802
4,5,2022-01-12T00:00:00,0.5277,0.4723,0.8027,0.1973

In [13]:
len(df)

767

In [14]:
df.describe()

,_id,hosp_for_covid,hosp_other_conditions,icu_for_covid,icu_other_conditions
count,767.000000,767.000000,767.000000,767.000000,767.000000
mean,384.000000,0.399965,0.600035,0.629040,0.370961
std,221.558119,0.048074,0.048074,0.087347,0.087346
min,1.000000,0.309500,0.434000,0.375000,0.136600
25%,192.500000,0.368250,0.581450,0.571400,0.323500
50%,384.000000,0.387400,0.612600,0.625000,0.375000
75%,575.500000,0.418550,0.631750,0.676500,0.428600
max,767.000000,0.566000,0.690500,0.863400,0.625000